<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
This is the home page.

<form method="get" action="/login">
    <button type="submit"> Login</button>
</form>


<form method="get" action="/signup">
    <button type="submit">Signup</button>
</form>


</body>
</html>