<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/login">
    <label>
        Username
        <input name="usernameLogin">
    </label>
    <br>
    <label>
        Password
        <br>
        <input name="passwordLogin">
    </label>

    <button type="submit">Login</button>
</form>
</body>
</html>