<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<form method="post" action="/signup">
    Name
    <input name="name">
    Aadhar Number
    <input name="aadhar" type="number">
    <br>
    Guardians Email Address
    <input name="email">
    <br>
    Username
    <input name="username">
    <br>
    Password
    <input name="password">
    <br>
    <button type="submit">Register</button>
</form>
</body>
</html>