<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>

Hey, {{name}}
<form method="post" action="/saveMeetup">
    Location : <input type="text" name="location">
    Preferences : Movies <input type="radio" name="pref" value="movies">
                    General Talk<input type="radio" name="pref" value="general talk">
    Time : <input type="datetime-local" name="timeDate">
    Description : <textarea name="description"></textarea>

    <button type="submit">Save Meetup Details</button>
</form>
{{success}}
<form action="/logout" method="get">
    <button type="submit">Logout</button>
</form>

<form action="/getSimilarMeetup" method="get">
    <button type="submit">Get similar Meetup</button>
</form>


</body>
</html>